<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
    <key>items</key>  
    <array>  
        <dict>  
            <key>assets</key>  
            <array>  
                <dict>  
                    <key>kind</key>  
                    <string>software-package</string>  
                    <key>url</key>  
                    <string>https://enjoy.tweakbox.pro/ipa/tweaked/spotifyplusplus.ipa</string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>full-size-image</string>  
                    <key>needs-shine</key>  
                    <true/>  
                    <key>url</key>  
                    <string>http://is2.mzstatic.com/image/thumb/Purple127/v4/55/84/6a/55846adb-32c7-3ccf-c6ee-788519f53f82/source/512x512bb.jpg</string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>display-image</string>  
                    <key>needs-shine</key>  
                    <true/>  
                    <key>url</key>  
                    <string>http://is2.mzstatic.com/image/thumb/Purple127/v4/55/84/6a/55846adb-32c7-3ccf-c6ee-788519f53f82/source/512x512bb.jpg</string>  
                </dict>  
            </array>  
            <key>metadata</key>  
            <dict>  
                <key>bundle-identifier</key>  
                <string>com.tweakbox.Youtube++</string>  
                <key>bundle-version</key>  
                <string>0.33.1</string>  
                <key>kind</key>  
                <string>software</string>  
                <key>title</key>  
                <string>Spotify</string>  
            </dict>  
        </dict>  
    </array>  
</dict>  
</plist>
